body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

#alignment{
    background-image: url(images/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align :center;
    color:white;
    padding:12%;
}



.flexible{
    display: flex;
}

.width-support{
    width:50%;
    padding-left:10%;
    padding-right:10%;
    padding
}

.width-support img{
    height: 80%;
    width: 100%;
}

h1{
    font-size:55px;
}

h2{
    font-size:40px;
}

h3{
    font-size:30px;
}

.link-button{
    
    text-decoration: none;
    color:white;
    font-size: 20px;
    background-color: tomato;
    padding: 15px 25px;
    border-radius:5px;
}

footer{
    background-color:black;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 25px;
    margin: 0px;
}

footer h3{
    color:tomato;
}

footer p{
    font-size:15px;
    color:white;
}